@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
nav {
    padding: 20px;
    background-color: black ;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   nav a {
    padding: 0px 20px;
    margin: 0px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 21px;
    
   }
   nav a:hover {
    color: rgb(240, 232, 232);
    text-decoration: underline;
   }
   