@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0px;
}
nav {
    padding: 20px;
    background: (0, 0, 0, 1);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}